{% extends 'master' %}

{% block content %}
<form>

 <div class="row">
<div class="input-field col s12">
  <input id="username" type="text" class="validate">
      <label for="username">username</label>
    </div>
  </div>


                    <div class="row">
 <div class="input-field col s12">
  <input id="password" type="password" class="validate">
         <label for="password">Password</label>
       </div>
     </div>
     <a href='/' class='btn rebecca purple'>Cancel</a>
<button type="submit"class="btn">Login</button>

</form>
{% endblock %}
