<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>AdonisJs - Node.Js MVC Framework</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/dist/app.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>

  <div class="content">
  <section>
    <div class="__wrapper">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Popular Posts</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>

          </ul>
        </div>
      </nav>
      <div class="app__main">
      {% if old('error') %}

              <h1>  Warning: {{ old('error') }}</h1>

      {% endif %}

      {% if old('success') %}
              <h1> Success: {{ old('success') }} </h1>
      {% endif %}

      {% block content %}
      {% endblock %}
</div>
</div>
      {% block footer %}
      <footer class="page-footer footer">
               <div class="logout-container">
                 <div class="nothing"></div>
               <a class = "logout" href="/logout">Logout</a>
               </div>

             </footer>
      {% endblock %}
    </div><!-- end wrapper -->
  </section>
</div>

</body>
<script src="dist/app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</html>
