{% extends 'master' %}

{% block content %}
<div class="welcome-container">
  <div class="welcome-container__inner">
<h1 class="greeting">Welcome to Popular Posts!</h1>
<a href="/login" class="waves-effect waves-light btn">Login</a>
<a href="/register" class="waves-effect waves-light btn">Register</a>
</div>
</div>
{% endblock %}
