{% extends 'master' %}

{% block content %}
<form action="/register" method="POST">
  {{ csrfField }}
     <div class="row">
<div class="input-field col s12">
<input name="username" id="username" type="text"  value="{{ old('username') }}"class="validate">
      <label for="username">username</label>
    </div>
  </div>
            <div class="row">
     <div class="input-field col s12">
         <input name = "email" id="email" type="email" value="{{ old('email') }}" class="validate">
                <label for="email">Email</label>
              </div>
            </div>

                    <div class="row">
 <div class="input-field col s12">
  <input name="password" id="password" type="password" class="validate">
         <label for="password">Password</label>
       </div>
     </div>
     <a href='/' class='btn grey'>Cancel</a>
<button class="btn">Submit</button>

</form>
{% endblock %}
