html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }
  *:before, *:after {
    box-sizing: inherit; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
